// mixins


// buttons
@mixin btn($color, $background){
	color : $color;
	background: $background;
	&:hover,&:focus{
		outline: none;
		color: $color;
	}
	&:hover{
		background: darken($background, 5%);
	}
	&.disabled{
		opacity: 0.7;
	}
}
// for media screen
@mixin screen($for, $value){
	@media (#{$for}-width : $value){
		@content;
	}
}

// clearfix
@mixin clear{
	content: '';
	display: block;
	clear: both;
}
@mixin clearfix {
	&:after, &:before{
		@include clear;
	}
}