// 		variables

// ----------	colors    ---------- //
$fontSize			: 14px;
$textColor 			: #717171;
$themeColor			: #7dc217;

$grey				: #979797;
$greydark			: #2b3033;
$greymed			: #3d3d3d;
$greylight			: #adadad;

// borders
$borderColor 		: #e2e2e2;



// fontfamilies
$robotolight 		: 'robotolight';
$roboto 			: 'robotoregular';
$robotobold 		: 'robotobold';
$robotoblack 		: 'robotoblack';
$roboto_con 		: 'roboto_condensedregular';
$robotolight_i 		: 'robotolight_italic';
$opensans			: 'Open Sans', sans-serif;


// for comments section
$comment-thumb-width: 80px;




// colors
$danger: #ec3535;