<div class="panel panel-default">
    <div class="panel-heading">Solicitações de veículos</div>
    <div class="panel-body">
        Acompanhe e gerencie as solicitações. 
        <strong>Não se esqueça de informar a saída do veículo</strong>
    </div>
    <div class="table-responsive">
        <table class="table">
        <tbody><tr>
            <th width="23"></th>            
            <th>Cod.</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Motivo</th>
            <th>Status</th>
            <th>Opções</th>
            <th width="23"></th>
        </tr>
        <tr>
            <td width="23"></td>
            <td width="23"></td>
        </tr>        
        </tbody></table>
    </div>
</div>