<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">Preencha todos os campos obrigatórios</div>
            <form action="/solicitar/add" method="post" class="form">
                <div class="page-title" style="background:none !important">
                    <div class="pattren-overlay" style="background:none !important">
                        <div class="jobs-bannernav">
                            <div class="container">
                                <ul class="nav nav-justified" role="tablist">
                                    <li class="active"><a href="#onde" aria-controls="onde" role="tab" data-toggle="tab"> Origem/Destino <span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Motivo/quantidade <span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#finalizar" aria-controls="finalizar" role="tab" data-toggle="tab"> Finalizar <span class="fa fa-angle-down"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content jobbox-wrap" >
                    <div role="tabpanel" class="tab-pane active" id="onde">
                        <div class="container">
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label>Origem <strong>(selecione ou digite sua origem)</strong></label>
                                    <input type="text" class="form-control" id="origem" name="solicitar[origem_id]" placeholder="Secretarias e lotações" required/>
                                    <!--<input type="text" class="form-control" id="origem_novo" placeholder="Nova origem" />-->
                                </div>
                                <div class="col-sm-6">
                                    <label>Destino <strong>(selecione ou digite seu destino)</strong></label>
                                    <input type="text" class="form-control" id="destino" name="solicitar[destino_id]" placeholder="Secretarias e lotações" required/>
                                    <!--<input type="text" class="form-control" id="destino_novo" placeholder="Novo destino"  />-->
                                </div>
                            </div>
                            <div class="row" id="googlemaps">
                                <style>
                                    #map {background: transparent url(/images/loader.gif) no-repeat center center;}
                                </style>
                                <div id="map" style="height: 300px; width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="container">
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label>Motivo </label>
                                    <select class="form-control" name="solicitar[motivo_id]" required>
                                        <option value="" label="-- Selecione o motivo --"></option>
                                        <% motivos.forEach(function(motivo, i){ %>
                                            <option value="<%- motivo.id %>">
                                                <%- motivo.obj.nome %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="col-sm-6" id="qtd_pessoas">
                                    <label>Quantidade</label>
                                    <input class="form-control" id="std_pessoas" name="solicitar[qtd]" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="finalizar">
                        <div class="container">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label>Observações</label>
                                    <textarea rows="5" class="form-control" name="solicitar[obs]"></textarea>
                                </div>
                            </div>
                            <div class="clearfix">
                                <input type="submit" value="SOLICITAR" class="btn btn-lg btn-theme pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="text-center load-more" hidden>
                        <ul class="pager wizard">
                            <li class="previous first" style="display:none;"><a href="#">Início</a></li>
                            <li class="previous"><a href="#">Anterior</a></li>
                            <li class="next last" style="display:none;"><a href="#">Fim</a></li>
                            <li class="next"><a href="#">Próximo</a></li>
                        </ul>
                    </div>
                </div>

                <style>
                    #sld_pessoas .slider-handle {
                        background: #0B486B;
                    }
                    
                    #sld_pessoas .slider-selection {
                        background: #0B486B;
                    }
                </style>
            </form>
        </div>
        <script src="/javascript/auto-complete.min.js"></script>
        <script>
            var origemSelectAutocomplete = new autoComplete({
                                    selector: '#origem',
                                    minChars: 0,
                                    source: function (term, suggest) {
                                        term = term.toLowerCase();
                                        var locais = <%-JSON.stringify(locais)_%>;
                                        var suggestions = [];
                                        for (var i = 0; i < locais.length; i++)
                                           if(~(locais[i].obj.sigla+" "+locais[i].obj.nome).toLowerCase().indexOf(term)) suggestions.push(locais[i]);               
                                        
                                        suggest(suggestions);                                                                                
                                    },
                                    renderItem: function (item, search) {
                                        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&amp;');
                                        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                                        return '<div class="autocomplete-suggestion" data-langname="' + item.obj.name + '" data-lang="' + item.obj.endereco + '" data-val="' + item.obj.endereco + '">' + item.obj.sigla +" - "+item.obj.nome + '</div>';
                                    },
                                    onSelect: function (e, term, item) {                                        
                                        document.getElementById('origem').value = item.getAttribute('data-lang').toLowerCase();
                                    }
                                });
                                 var destinoSelectAutocomplete = new autoComplete({
                                    selector: '#destino',
                                    minChars: 0,
                                    source: function (term, suggest) {
                                        term = term.toLowerCase();
                                        var locais = <%-JSON.stringify(locais)_%>;
                                        var suggestions = [];
                                        for (var i = 0; i < locais.length; i++)
                                           if(~(locais[i].obj.sigla+" "+locais[i].obj.nome).toLowerCase().indexOf(term)) suggestions.push(locais[i]);
                                           
                                        suggest(suggestions);                                                                                
                                    },
                                    renderItem: function (item, search) {
                                        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&amp;');
                                        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                                        return '<div class="autocomplete-suggestion" data-langname="' + item.obj.name + '" data-lang="' + item.obj.endereco + '" data-val="' + item.obj.endereco + '">' + item.obj.sigla +" - "+item.obj.nome + '</div>';
                                    },
                                    onSelect: function (e, term, item) {
                                        document.getElementById('destino').value = item.getAttribute('data-lang').toLowerCase();
                                        // console.log(document.getElementById('destino'));
                                    }
                                });
        </script>
        <script>
            /** Vamos montar e calcular as distancias das solicitaçoes */                                          
                                                      
                                function initMap() {                                                                                               
                                    // form
                                    var inOrigem = document.getElementById('origem');
                                    var inDestino = document.getElementById('destino');
                                    // var auInOrigem = document.getElementById('origem_novo');
                                    // var auInDestino = document.getElementById('destino_novo');

                                    // controle map
                                    var origin_place_id = null;
                                    var destination_place_id = null;
                                    var travel_mode = google.maps.TravelMode.WALKING;

                                    var directionsService = new google.maps.DirectionsService;
                                    var directionsDisplay = new google.maps.DirectionsRenderer;
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 16,
                                        center: { "lat": -5.7811386, "lng": -35.2082689 }                                        
                                    });
                                    
                                    directionsDisplay.setMap(map);

                                    var onChangeHandler = function () {
                                        calcRoute(directionsService, directionsDisplay);
                                    };                                   
                                                                        
                                    // Autocomplete para origem do banco
                                    var auOrigemSelect = new google.maps.places.Autocomplete(inOrigem);
                                    auOrigemSelect.bindTo('bounds', map);
                                    
                                    // Autocomplete para destino do banco
                                    var auDestinoSelect = new google.maps.places.Autocomplete(inDestino);
                                    auDestinoSelect.bindTo('bounds', map);
                                    
                                    // Autocomplete nova Origem
                                    // var auOrigem = new google.maps.places.Autocomplete(auInOrigem);
                                    // auOrigem.bindTo('bounds', map);                                    
                                    // // Autocomplete novo Destino
                                    // var auDestino = new google.maps.places.Autocomplete(auInDestino);
                                    // auDestino.bindTo('bounds', map);                                   
                                    
                                    function expandViewportToFitPlace(map, place) {
                                        if (place.geometry.viewport) {
                                            map.fitBounds(place.geometry.viewport);
                                        } else {
                                            map.setCenter(place.geometry.location);
                                            map.setZoom(16);
                                        }
                                    }
                                                                      
                                    auOrigemSelect.addListener('place_changed', function(){  
                                        // console.log('aqui');                                      
                                        var place = auOrigemSelect.getPlace();                                                                     
                                        if (!place.geometry) {
                                            console.log('Não tem localização');
                                            return;
                                        }
                                        expandViewportToFitPlace(map, place);
                                        
                                        origin_place_id = place.place_id;
                                        route(origin_place_id, destination_place_id, travel_mode,
                                            directionsService, directionsDisplay);
                                    });
                                    
                                    auDestinoSelect.addListener('place_changed', function(){                                        
                                        var place = auDestinoSelect.getPlace();
                                        if (!place.geometry) {
                                            console.log('Não tem localização');
                                            return;
                                        }
                                        expandViewportToFitPlace(map, place);

                                        destination_place_id = place.place_id;
                                        route(origin_place_id, destination_place_id, travel_mode,
                                            directionsService, directionsDisplay);
                                        // console.log('google');    
                                        // console.log(document.getElementById('destino'));                                        
                                    });
                                    
                                    function route(origin_place_id, destination_place_id, travel_mode,
                                        directionsService, directionsDisplay) {
                                        if (!origin_place_id || !destination_place_id) {
                                            return;
                                        }
                                        directionsService.route({
                                            origin: { 'placeId': origin_place_id },
                                            destination: { 'placeId': destination_place_id },
                                            travelMode: travel_mode
                                        }, function (response, status) {
                                            if (status === google.maps.DirectionsStatus.OK) {
                                                directionsDisplay.setDirections(response);
                                            } else {
                                                window.alert('Directions request failed due to ' + status);
                                            }
                                        });
                                    }                                                                                                                                          
                                }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDmrTob5-vTqfhaZ-A3YIFyjiRTANPoGM&signed_in=true&libraries=places&callback=initMap"
        async defer></script>
        <% include ../footer %>