<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">Preencha todos os campos obrigatórios</div>
            <form action="/solicitar/atender" method="POST" class="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tipo do automóvel</label>
                            <input type="text" id="tx_tipo" class="form-control" name="atender[tipo]" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Placa</label>
                            <input type="text" id="tx_placa" class="form-control" name="atender[placa]" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Motorista</label>
                            <input type="text" id="tx_motorista" class="form-control" name="atender[motorista]" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Telone</label>
                            <input type="text" id="tx_telefone" class="form-control" name="atender[telefone]" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Outras observações</label>
                            <textarea id="ta_obs" class="form-control" name="atender[obs]"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">Solicitações deste atendimento</div>
                            </div>
                        </div>                        
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th width="23"></th>
                                    <th>Cod.</th>
                                    <th>Solicitante</th>
                                    <th>Origem</th>
                                    <th>Destino</th>                                    
                                    <th width="23"></th>
                                </tr>                                
                                <% solicitacoes.forEach(function(solicitar, i){ _%>    
                                <% solicitar = JSON.parse(solicitar) %>                            
                                <tr>
                                    <td width="23"></td>
                                    <td><%- solicitar.id _%></td>
                                    <td><%- solicitar.usuario.nome _%></td>
                                    <td><%- solicitar.origem.nome _%></td>
                                    <td><%- solicitar.destino.nome _%></td>                                    
                                    <td width="23"></td>
                                </tr>
                                <% }) _%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input hidden name="atender[solicitacoes]" value="<%= JSON.stringify(solicitacoes) %>">
                <div class="clearfix">
                    <input type="button" value="CANCELAR" class="btn btn-lg btn-default pull-left">
                    <input type="submit" value="ATENDER" class="btn btn-lg btn-theme pull-right">
                </div>
            </form>
        </div>
        <% include ../footer %>