<% include ../header %>
    <% include ../user/menu %>
    <form action="/solicitar/atendimento" method="POST" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">Lista de minhas solicitações</div>
                    <div class="col-md-6"><a href="/solicitar/add" class="btn btn-theme"><span class="fa fa-plus"></span> NOVA SOLICITAÇÃO</a></div>
                </div>                
            </div>
            <div class="panel-body">                
                <strong>ATENÇÃO </strong>
            </div>
            <div class="table-responsive">                
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="23"></th>
                            <th>Cod.</th>
                            <% if(usuario.role_id!=3){ %>
                            <th>Usuario</th>
                            <% } %>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Motivo</th>
                            <th>Qtd</th>
                            <th>Status</th>
                            <%_ if(usuario.role_id == 1){ _%>
                                <th>Atender</th>
                            <%_ }else{ _%>
                                <th>Opções</th>
                            <%_ } _%>
                            <th width="23"></th>
                        </tr>                                                           
                        <% solicitacoes.forEach(function(solicitar, i){ _%>                        
                        <tr>
                            <td width="23"></td>
                            <td><%- solicitar.id _%></td>
                            <% if(usuario.role_id!=3){ %>
                            <td><%-solicitar.usuario.nome_%></td>
                            <% } %>
                            <td><%- solicitar.origem.nome _%></td>
                            <td><%- solicitar.destino.nome _%></td>
                            <td><%- solicitar.motivo.nome _%></td>
                            <td><%- solicitar.obj.qtd _%></td>
                            <td id="<%-solicitar.id_%>-status"><%- solicitar.obj.status || '' _%></td>
                            <td>
                                <% if(usuario.role_id==2){
                                    if(solicitar.obj.status=='novo'){ %>
                                        <a href='#' data-toggle="tooltip" title="Clique para autorizar esta solicitação" id="<%-solicitar.id_%>autorizar" onclick="autorizar(<%-solicitar.id_%>)">
                                            <span id="<%-solicitar.id_%>-ico" class="fa fa-check"></span></a>
                                        <a href='#' data-toggle="tooltip" title="Clique para não autorizar esta solicitação" id="<%-solicitar.id_%>desautorizar" onclick="desautorizar(<%-solicitar.id_%>)" >
                                            <span id="<%-solicitar.id_%>-ico" class="fa fa-times"></span></a>
                                    <% }else{ %>
                                        <a href='#' data-toggle="tooltip" title="Clique para autorizar esta solicitação" id="<%-solicitar.id_%>autorizar" onclick="autorizar(<%-solicitar.id_%>)" >
                                            <span id="<%-solicitar.id_%>-ico" class="fa fa-check"></span></a>
                                        <a href='#' data-toggle="tooltip" title="Clique para não autorizar esta solicitação" id="<%-solicitar.id_%>desautorizar" onclick="desautorizar(<%-solicitar.id_%>)" >
                                            <span id="<%-solicitar.id_%>-ico" class="fa fa-times"></span></a>
                                    <% } %>
                                <% }else if(usuario.role_id == 1 && solicitar.obj.status == 'autorizado'){ %>
                                <center>
                                    <input type="checkbox" name="atender" value="<%= JSON.stringify(solicitar) %>">
                                </center>
                                <% }else if(usuario.role_id == 3 && solicitar.obj.status == 'novo'){ %>
                                    <a href='/solicitar/<%- solicitar.id _%>/edit/'><span class="fa fa-edit"></span></a>
                                    <a href='/solicitar/<%- solicitar.id _%>/del/'><span class="fa fa-trash"></span></a>                                
                                <% } %>
                            </td>
                            <td width="23"></td>                            
                        </tr>
                        <%  }) _%>                       
                    </tbody>
                </table>                
            </div>            
        </div> 
        <% if(usuario.role_id == 1){ %>   
        <div class="clearfix">
            <input type="submit" value="ATENDER SOLICITAÇÕES" class="btn btn-lg btn-theme pull-right">
        </div>
        <% }%>
        </form>
        <% include ../footer %>
        <script>                    
            function autorizar(id) {
                $.ajax({
                    type: "POST",
                    url: '/solicitar/' + id + '/autorizar/',
                    dataType: "json",
                    success: function(response){
                        $('#'+id+'-status').html('autorizado');
                        $('#'+id+'autorizar').hide();
                        $('#'+id+'desautorizar').show();
                    }         
                });
            }    
            function desautorizar(id){
                $.ajax({
                    type: "POST",
                    url: '/solicitar/' + id + '/desautorizar/',
                    dataType: "json",
                    success: function(response){                        
                        $('#'+id+'-status').html('desautorizado');
                        $('#'+id+'autorizar').show();
                        $('#'+id+'desautorizar').hide();                                             
                    }         
                });
            }        
        </script>