</div>
</div>
</div>
</div>
</div>
</div> <!-- Fecha o menu do usuario -->
      <% if(!usuario){ %>
      <div class="green-bar">
            <div class="container">
                <a href="/user/add" title="" class="btn hidden-xs fr btn-white">Quero fazer parte!</a>
                <h2>Cadastre-se e solicite o veículo!</h2>
                <a href="/user/add" title="" class="btn hidden-lg hidden-sm hidden-md fr btn-white">Quero fazer parte!</a>
            </div>
      </div>
      <% } %>
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2><a href="#" title=""><img src="/images/footer-logo.png" border="0" alt=""></a></h2>
                    <p><a style="color: white" href="http://portal.natal.rn.gov.br/_anexos/publicacao/dom/dom_20151229.pdf" 
                        title="Decreto 10.937-28/12/2015"><strong>Decreto N.º 10.937 de 28/12/2015</strong></a><br>
                    CONSIDERANDO a necessidade de centralizar na Secretária Municipal de Administração
                        – SEMAD, o gerenciamento da Frota de Veículos próprios e locados à PMN, visando a
                        eficiência da sua utilização bem como a economia financeira decorrente dessa centralização </p>
                    <p class="social-icons">
                        <a href="http://www.natal.rn.gov.br"><span class="fa fa-university"></span></a>
                        <a href="http://192.168.1.52/portal"><span class="fa fa-suitcase"></span></a>  
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Encontre-nos</h2>
                    <ul class="related-icons-list">
                        <li><span class="fa fa-map-marker"></span>Av. Câmara Cascudo, 434<br>Cidade Alta - Natal/RN<br>CEP: 59025-280</li>
                        <li><span class="fa fa-phone"></span> +55 084 3232-4956<br>+55 084 3232-4951<br>+55 084 3232-4953</li>
                        <li><span class="fa fa-envelope"></span> <a href="mailto:semad@natal.rn.gov.br" title="">cevei@natal.rn.gov.br</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>Deixe seu email</h2>
                    <p>Deixando seu email conosco avisaremos quando houver alguma novidade em nosso sistema.</p>
                    <form action="">
                      <div class="input-group input-group-lg subscription-form">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-btn">
                          <button class="btn btn-theme" type="button"><span class="fa fa-check"></span></button>
                        </span>
                      </div>
                    </form>
                </div>
            </div>
        </div><!-- container -->
      </footer>
      <div class="footer-bottom">&copy; Theme made by <a href="https://bootstraphunter.com">BootstrapHunter.com</a></div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/javascript/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->                             
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascript/plugins/jquery.fancybox.pack.js"></script>
        <script src="/javascript/plugins/jquery.bxslider.min.js"></script>        
        <script src="/javascript/plugins.js"></script>
        <script src="/javascript/main.js"></script>
        <script src="/javascript/funcoes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.7/bootstrap-slider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>
        <script>
        $(function () {
            $('.slider-gallery').bxSlider({
                auto: true,
                slideWidth: 370,
                slideMargin: $(window).width() > 767 ? 30 : 0,
                pager: false,
                minSlides: $(window).width() > 767 ? 3 : 1,
                maxSlides: $(window).width() > 767 ? 3 : 1,
                moveSlides: 1,
                nextSelector: '#slider-next',
                prevSelector: '#slider-prev',
                nextText: '&#xf105;',
                prevText: '&#xf104;',
            })
            $('.main-slider ul').bxSlider({
                auto: true,
                pager: false,
                nextText: '&#xf105;',
                prevText: '&#xf104;',
              })
            $(".fancybox").fancybox();            
        })


    </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>
</html>