<!doctype html>
<html class="no-js" lang="br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CEVEI -
        <%- page %>
    </title>
    <meta name="description" content="Sistema de Gerenciamento de Férias Agendadas">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/javascript/plugins/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<script src="/stylesheet/font-awesome.min.css"></script>
        <script src="/stylesheet/bootstrap.min.css"></script>-->
    <link rel="stylesheet" href="/stylesheet/auto-complete.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.7/css/bootstrap-slider.min.css">
    <script src="/javascript/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header class="bodyheader">
        <div class="top-bar">
            <nav class="navbar">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#" title=""><span class="fa fa-envelope"></span> semad@natal.rn.gov.br</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <% if(usuario){ %>
                                <li><a href="/user/home"><span class="fa fa-home"></span> HOME</a></li>
                                <li><a href="/user/logout"><span class="fa fa-user-times"></span> SAIR</a></li>                                
                                <% }else{ %>
                                    <li><a href="/"><span class="fa fa-home"></span> HOME</a></li>
                                    <li><a href="/user/cadastro"><span class="fa fa-edit"></span> CADASTRO</a></li>
                                    <li><a href="/user/login"><span class="fa fa-user"></span> ENTRAR</a></li>
                                    <% } %>
                                        <li class="social-icons">
                                            <a href="http://www.natal.rn.gov.br"><span class="fa fa-university"></span></a>
                                            <a href="http://192.168.1.52/portal"><span class="fa fa-suitcase"></span></a>
                                        </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>            
                                        <!-- Continua com um menu -->
                                        <!-- Header fecha no menu -->
                                        <!-- body e html fecha no footer-->