<% include header %>          
      </header>  <!-- Esse fechamento deverá ficar no menu de pois do login-->      
        <div class="page-section">
          <div class="container">
            <div class="section-header">
              <h2>Central de Veículos</h2>
              <h4>Bem vindo!</h4>
            </div>
            <div class="row">
              <div class="col-sm-3">
                  <h4 class="with-icon"><span class="fa fa-rocket"></span> Fácil Solicitação</h4>
                  <p>Informe seu destino e um veículo será enviado.</p>
              </div>
              <div class="col-sm-3">
                  <h4 class="with-icon"><span class="fa fa-comments"></span> Comunicação Facilitada</h4>
                  <p>Nesta ferramenta você poderá prevê quando teremos veículos disponíveis para solicitação</p>
              </div>
              <div class="col-sm-3">
                  <h4 class="with-icon"><span class="fa fa-fighter-jet"></span> Atendimento Rápido</h4>
                  <p>Sem complicação, enviaremos o veículo adequado para sua solicitação </p>
              </div>
              <div class="col-sm-3">
                  <h4 class="with-icon"><span class="fa fa-cog"></span> Ferramentas Úteis</h4>
                  <p>Solicitação, liberação e saída de veículo controlado para a melhor gestão do recurso</p>
              </div>
            </div>
          </div>
        </div>   
      
      <div class="container">        
        <div class="page-section">
          <h2 class="with-borderline"><span>Secretarias Integradas</span></h2>
          <ul class="clients-list">
            <li>
                <a href="http://www.natal.rn.gov.br/semad" target="blank" aria-label="Secretaria Municipal de Adminitração">
                    <img src="/images/secretarias/semad.png" alt="Secretaria Municipal de Adminitração">
                </a>
            </li>            
          </ul>
        </div>
    </div>
<% include footer %>