<% include ../header %>
    <div class="form-template">
        <p class="text-center">
            <a href="#" title=""><img src="/images/logo.png" alt=""></a>
        </p>
        <div class="section-header">
            <h5>Cadastre-se para solicitar o serviço do CEVEI</h5>
        </div>
        <form action="/user/cadastro" method="post" class="form form-login">            
            <div class="form-group">
                <label>Nome</label>
                <input name="user[nome]" type="text" class="form-control" placeholder="Informe seu nome" required>
            </div>
            <div class="form-group">
                <label>Matrícula</label>
                <input name="user[matricula]" type="text" class="form-control" placeholder="Informe sua matrícula" required>
            </div>
            <script>
                // Change do Select de Secretaria para criar o select de lotacao;      
            function secretariaChange(selectObj){
                var select = selectObj.options[selectObj.selectedIndex].value;
                var secretarias = <%- JSON.stringify(secretarias); %> ;
                var lotacoes = <%- JSON.stringify(lotacoes); %> ;
                var lot = document.getElementById('lotacao');    
               
                while(lot.options.length > 0){
                    lot.remove(0);
                }           
                var lOption = null;                      
                lotacoes.forEach(function(lotacao, i){
                    if(lotacao.secretaria_id == select){
                     lOption = document.createElement('option');
                            lOption.value = lotacao.id;
                            lOption.innerHTML = lotacao.obj.sigla;                            
                            // Add a opção criada no select de lotacao;                                                        
                            try{
                                lot.add(lOption);
                            } catch (e) {
                                lot.appendChild(lOption);                                                                                                
                            }   
                    }
                    
                });                                                            
            }
            </script>
            <div class="form-group">
                <label>Secretaria</label>
                <select class="form-control" onchange="secretariaChange(this)" required>
                    <option value="" label="-- Selecione sua secretaria --"></option>
                    <% secretarias.forEach(function(secretaria, i){ %>
                        <option value="<%- secretaria.id %>"><%- secretaria.obj.sigla %></option>
                        <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label>Lotação</label>
                <select id="lotacao" name="user[lotacao_id]" class="form-control" required>
                    <option value="" >-- Selecione sua secretaria--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="user[email]" type="text" class="form-control" placeholder="Informe seu email institucional">
            </div>
            <div class="form-group">
                <label>Telefone Institucional</label>
                <input name="user[telefone]" type="text" class="form-control" placeholder="Informe o telefone institucional" >
            </div>
            <div class="form-group">
                <label>Celular Institucional</label>
                <input name="user[celular]" type="text" class="form-control" placeholder="Informe seu celular institucional" >
            </div>
            <div class="clearfix">
                <input type="submit" value="CADASTRAR" class="btn btn-lg btn-theme pull-right">
            </div>
        </form>
    </div>
    <% include ../footer %>