<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">Usuários cadastradas</div>
                    <div class="col-md-6"><a href="/user/add" class="btn btn-theme"><span class="fa fa-plus"></span> NOVO USUÁRIO</a></div>
                </div>
            </div>
            <div class="panel-body">
                Atenção:
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="23"></th>
                        <th>Cod.</th>
                        <th>Nome</th>
                        <th>Matricula</th>
                        <th>Status</th>
                        <th>Opções</th>                        
                        <th width="23"></th>
                    </tr>
                    <% usuarios.forEach(function(usuario, i){ _%>
                    <tr>
                        <td width="23"></td>
                        <td><%- usuario.id _%></td>
                        <td><%- usuario.obj.nome _%></td>
                        <td><%- usuario.obj.matricula _%></td>
                        <td><%- usuario.obj.status _%></td>
                        <td>
                            opt
                        </td>
                        <td width="23"></td>
                    </tr>
                    <% }) %>                    
                </table>
            </div>
        </div>
        <% include ../footer %>