<% include ../header %>
    <div class="form-template">
        <p class="text-center">
            <a href="#" title=""><img src="/images/logo.png" alt=""></a>
        </p>
        <div class="section-header">
            <h5>Identifique-se</h5>
        </div>
        <form action="/login" method="post" class="form form-login">
            <div class="form-group">
                <label>Matrícula</label>
                <input type="text" name="user[matricula]" value="<%- (usuario)? usuario.matricula : '' %>" class="form-control" placeholder="Informe sua matricula">
            </div>
            <input type="text" hidden name="user[role_id]" value="<%- (usuario)? usuario.role_id : '' %>">
            <div class="form-group" id="user-info">
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="user[nome]" value="<%- (usuario)? usuario.nome : '' %>" class="form-control" disabled>
                </div>                
            </div>

            <div class="clearfix">
                <div class="section-header">
                    <h5>Certifique-se que é você mesmo! :)</h5>
                </div>
                <input type="submit" value="ENTRAR" class="btn btn-lg btn-theme pull-left">
                <a type="submit" class="btn btn-lg btn-theme pull-right" href="/user/cadastro">CADASTRAR</a>
            </div>
        </form>
    </div>
    <% include ../footer %>