<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled sidebar-nav">    
                    <% if (usuario.role_id == 1) { _%> <!-- Administrador -->
                        <li id="home"><a href="/user/home"><span class="fa fa-dashboard"></span> Home</a></li>
                        <li id="solicitacoes"><a href="/solicitar/index"><span class="fa fa-car"></span> Solicitar Veículo</a></li>                    
                        <li><a href="/denunciar"><span class="fa fa-eye"></span> Denunciar</a></li>
                        <li><a href="#"></span> Administração</a></li>
                        <!--<li><a href="/role/index"><span class="fa fa-sliders"></span> Perfis</a></li>                        -->
                        <li><a href="/user/index"><span class="fa fa-users"></span> Usuários</a></li>
                        <li><a href="/lotacao/index"><span class="fa fa-suitcase"></span> Lotações</a></li>
                        <li><a href="/secretaria/index"><span class="fa fa-building"></span> Secretarias</a></li>
                        <li><a href="/motivo/index"><span class="fa fa-bullseye"></span> Motivos</a></li>
                        <li><a href="/local/index"><span class="fa fa-map-marker"></span> Locais</a></li>
                    <% } else if(usuario.role_id == 2){ _%> <!-- Gestor -->
                        <li  id="home"><a href="/user/home"><span class="fa fa-dashboard"></span> Home</a></li>
                        <li><a href="/solicitar/index"><span class="fa fa-car"></span> Solicitar Veículo</a></li>                    
                        <li><a href="/denunciar"><span class="fa fa-eye"></span> Denunciar</a></li>
                    <% } else if(usuario.role_id == 3){ _%> <!-- Usuários -->
                        <li  id="home"><a href="/user/home"><span class="fa fa-dashboard"></span> Home</a></li>
                        <li><a href="/solicitar/index"><span class="fa fa-car"></span> Solicitar Veículo</a></li>                    
                        <li><a href="/denunciar"><span class="fa fa-eye"></span> Denunciar</a></li>
                    <% } _%>
                </ul>
                <h3 class="sidebar-heading"><span class="fa fa-bar-chart"></span> Central</h3>
                <div class="sidebar-progress-section ">
                    <h4>Interno</h4>
                    <div class="progress ">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            </div>
                        </div>
                    </div>
                    <h4>Externo</h4>
                    <div class="progress ">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="sidebar-heading"><span class="fa fa-bell"></span> Notificações <span class="badge badge-danger">2</span></h3>
                <div class="sidebar-notification">
                    <ul class="list-unstyled">
                        <li><span class="fa fa-send related-icon bg-green"></span>
                            <p><strong>Enviado</strong> Um veículo foi enviado!</p>
                            <small>5 min</small>
                        </li>
                        <li><span class="fa fa-car related-icon bg-yellow"></span>
                            <p><strong>Disponível </strong> Temos um veículo para te atender.</p>
                            <small>15 min</small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-userinfo">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><%- usuario.obj.nome _%></h2>
                            <p><span class="fa fa-suitcase text-theme"></span> <%- usuario.lotacao.nome _%> da(o) <a href="#" title=""><%- usuario.secretaria.nome _%></a></p>
                            <p><span class="fa fa-map-marker text-theme"></span> <%- usuario.secretaria.endereco _%></p>
                        </div>
                    </div>
                </div>
                <!-- profile-userinfo -->
                <div class="row">
                    <!-- area onde será exibido todos os forms e recursos. pequeno, por isso deve ser bem pensado -->
                    <div class="col-sm-12">
                        <!-- page-content-area
O fechamento do menu do home está no footer_home 
-->