<% include ../header %>
<div class="form-template">
    <p class="text-center"><a href="#" title=""><img src="/images/logo.png" alt=""></a></p>
     <div class="section-header">
        <h5>Cadastramento de perfis de autoridade</h5>                
     </div>     
    <form action="/role/add" method="post" class="form form-login">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="role[nome]" class="form-control" placeholder="Informe seu nome">
        </div>
        <div class="form-group">            
            <label>Descricao</label>
            <input type="text" name="role[descricao]" class="form-control" placeholder="Informe sua matrícula">
        </div>        
        <div class="clearfix">                    
            <input type="submit" value="CADASTRAR" class="btn btn-lg btn-theme pull-right">
        </div>        
    </form>
</div>
<% include ../footer %>