<%- include ../header _%>
<div class="panel panel-default">
    <div class="panel-heading">Lista de Permissões</div>
    <div class="panel-body">
        <a class="btn btn-lg btn-theme pull-right">ADCIONAR NOVO PERFIL</a>
    </div>
    <div class="panel-body">
        <form action="" class="form">
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Pesquisa</label>                     
                    <input class="form-control" />
                </div>
                <div class="col-sm-6">
                    <div class="clearfix">                    
                        <input type="submit" value="PESQUISAR" class="btn btn-lg btn-theme pull-right">
                    </div>            
                </div>                
            </div>
        </div>
    </form>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
            <tbody><tr>
                <th width="23"></th>            
                <th>Cod.</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Motivo</th>
                <th>Status</th>
                <th>Opções</th>
                <th width="23"></th>
            </tr>     
            
            </tbody></table>
        </div>
    </div>
</div>
    
</div>
<%- include ../footer _%>