<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">Preencha todos os campos obrigatórios</div>
            <form action="/secretaria/add" method="post" class="form">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" id="tx_nome" class="form-control" name="nome" required />
                </div>
                <div class="form-group">
                    <label>Sigla</label>
                    <input type="text" id="tx_sigla" class="form-control" name="sigla" required />
                </div>
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" id="tx_endereco" class="form-control" name="endereco" required />
                </div>
                <div class="clearfix">
                    <input type="submit" value="CADASTRAR" class="btn btn-lg btn-theme pull-right">
                </div>
            </form>
        </div>
        <% include ../footer %>