<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">Preencha todos os campos obrigatórios</div>
            <form action="/local/<%-local.id_%>/edit" method="post" class="form">                            
                <div class="form-group">                    
                    <label>
                        <input type="radio" name="local[status]" id="ativo" value="ativo"  >
                        Ativo                            
                    </label>
                    <label>
                        <input type="radio" name="local[status]" id="inativo" value="inativo" >
                        Inativo
                    </label>
                </div>
                <script>                
                    var status = "<%-local.obj.status.toLowerCase()_%>";                    
                    document.getElementById(status).setAttribute('checked', true);            
                </script>
                <legend style="color: inherit;">Dados da localização</legend>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" id="tx_nome" class="form-control" name="local[nome]" value="<%-local.obj.nome_%>" required />
                </div>
                <div class="form-group">
                    <label>Sigla</label>
                    <input type="text" id="tx_sigla" class="form-control" name="local[sigla]" value="<%-local.obj.sigla_%>" required />
                </div>
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" id="tx_endereco" class="form-control" name="local[endereco]" value="<%-local.obj.endereco_%>" required />
                </div>                
                <legend style="color: inherit;">Geolocalização</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Latitude</label>
                            <input type="text" id="tx_latitude" class="form-control" name="local[lat]" value="<%-local.obj.geo.lat_%>" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Longitude</label>
                            <input type="text" id="tx_longitude" class="form-control" name="local[lng]" value="<%-local.obj.geo.lng_%>" required />
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <a type="submit" href="/local/index" class="btn btn-lg btn-theme pull-left">CANCELAR</a>
                    <input type="submit" value="SALVAR" class="btn btn-lg btn-theme pull-right">
                </div>
            </form>
        </div>
        <% include ../footer %>