<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">Locais cadastrados</div>
                    <div class="col-md-6"><a href="/local/add" class="btn btn-theme"><span class="fa fa-plus"></span> NOVO LOCAL</a></div>
                </div>
            </div>
            <div class="panel-body">
                Atenção:
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="23"></th>
                        <th>Cod.</th>
                        <th>Sigla</th>
                        <th>Nome</th>                        
                        <th>Status</th>
                        <th>Opções</th>                        
                        <th width="23"></th>
                    </tr>
                    <% locais.forEach(function(local){ _%>                    
                    <tr>                        
                        <td width="23"></td>
                        <td><%- local.id _%></td>
                        <td><%- local.obj.sigla _%></td>
                        <td><%- local.obj.nome _%></td>                        
                        <td><%- local.obj.status _%></td>
                        <td>
                            <a href='/local/<%- local.id _%>/edit/'><span class="fa fa-edit"></span></a>
                                <a href='/local/<%- local.id _%>/del/'><span class="fa fa-trash"></span></a>
                        </td>
                        <td width="23"></td>
                    </tr>
                    <% }) %>                    
                </table>
            </div>
        </div>
        <% include ../footer %>