<div class="panel panel-default">
    <div class="panel-heading">Preencha todos os campos obrigatórios</div>   
    <form action="" class="form">
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Origem</label>
                <select class="form-control" onchange="secretariaChange(this)">
                    <option value="" label="-- Selecione sua secretaria --"></option>
                    <% secretarias.forEach(function(secretaria, i){ %>
                    <option value="<%- secretaria.id %>" label="<%- secretaria.sigla %>"></option>
                    <% }); %>
                </select>  
            </div>
            <div class="col-sm-6">
                <label>Destino</label>
                <select class="form-control" onchange="secretariaChange(this)">
                    <option value="" label="-- Selecione sua secretaria --"></option>
                    <% secretarias.forEach(function(secretaria, i){ %>
                    <option value="<%- secretaria.id %>" label="<%- secretaria.sigla %>"></option>
                    <% }); %>
                </select>  
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Motivo </label>
                <select class="form-control" onchange="secretariaChange(this)">
                    <option value="" label="-- Selecione sua secretaria --"></option>
                    <% motivos.forEach(function(motivo, i){ %>
                    <option value="<%- motivo.id %>" label="<%- motivo.nome %>"></option>
                    <% }); %>
                </select>  
            </div>
            <div class="col-sm-6">
                <label>Tipo</label>
                <select class="form-control" onchange="secretariaChange(this)">
                    <option value="" label="-- Selecione sua secretaria --"></option>
                    <% tipos.forEach(function(tipo, i){ %>
                    <option value="<%- tipo.id %>" label="<%- tipo.nome %>"></option>
                    <% }); %>
                </select>  
            </div>
        </div>
        <div class="row form-group" id="optPessoas" >
            <div class="col-sm-6">
                Quantas pessoas?            
                <p><label>                
                <input type="text" class="slider" value="" data-slider-min="1" 
                data-slider-max="40" data-slider-step="1" data-slider-value="-14" 
                data-slider-orientation="horizontal" data-slider-selection="after"
                data-slider-tooltip="show" />
                </label></p>
            </div>
            <div class="col-sm-6">
                <p><label>
                <input type="checkbox" class="hidden-check">
                <span class="virtual-checkbox"></span> Quero(emos) ir e voltar!
                </label></p>
            </div>
        </div>               
        <div class="form-group">
            <label>Observações</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>        
        <div class="clearfix">                    
            <input type="submit" value="SOLICITAR" class="btn btn-lg btn-theme pull-right">
        </div>            
    </form>
</div>