<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">Preencha todos os campos obrigatórios</div>
            <form action="/motivo/add" method="post" class="form">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" id="tx_nome" class="form-control" name="motivo[nome]" required />
                </div>               
                <div class="form-group">
                    <label>Descrição</label>
                    <input type="text" id="tx_descricao" class="form-control" name="motivo[descricao]" required />
                </div>                 
                <div class="clearfix">                    
                    <input type="submit" value="CADASTRAR" class="btn btn-lg btn-theme pull-right">
                </div>
            </form>
        </div>
        <% include ../footer %>