<% include ../header %>
    <% include ../user/menu %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">Motivos Cadastrados</div>
                    <div class="col-md-6"><a href="/motivo/add" class="btn btn-theme"><span class="fa fa-plus"></span> NOVO MOTIVO</a></div>
                </div>
            </div>
            <div class="panel-body">
                Atenção:
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="23"></th>
                        <th>Cod.</th>                        
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Opções</th>                        
                        <th width="23"></th>
                    </tr>
                    <% motivos.forEach(function(motivo, i){ _%>
                    <tr>
                        <td width="23"></td>
                        <td><%- motivo.id _%></td>                        
                        <td><%- motivo.obj.nome _%></td>
                        <td><%- motivo.obj.status _%></td>
                        <td>
                            opt
                        </td>
                        <td width="23"></td>
                    </tr>
                    <% }) %>                    
                </table>
            </div>
        </div>
        <% include ../footer %>